  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    
}
body{
    background-color: #e3e7ff;
}

.outer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column; 
}
h1{
    padding-bottom:2% ;
}
.inner{
    height: 450px;
    width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgb(77, 81, 83);
}
.div1{
    width: 50%;
    float: left;
    padding: 20% 1% 20% 1%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:  #a2a5b9;
}
.div2{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 255, 255);
}
@media (min-width:800px) {
    .mid{
        display: none;
    }
}
@media (max-width:800px) {
    .outer{
        flex-direction: column;
    }
    .inner{
        height: 450px;
        width: 300px;
        display: flex;
        margin-top: 30px;
    }
    .div1{
        display: none;
    }
    .div2{
        width: 300px;
        background-color: #a2a5b9;
        border-radius: 10px ;
    }
    .mid{
        text-align: center;
        width: 300px;
    }
}

