  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    
}
body{
    background-color: #e3e7ff;
}
.outer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
    
}
.inner{
    height: 450px;
    width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgb(77, 81, 83);
}
.div1{
    width: 50%;
    float: left;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:  #f38824;
}
.div2{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10%;
    background-color: rgb(255, 255, 255);
}

