.Main-card {
  height: 500px;
  width: 410px;
  border: 0.5px solid rgb(179, 154, 182);
  border-radius: 10px;
  position: relative;
  /* padding: 2px; */
  /* transition: 0.1s ease-in-out; */
}
.Image {
  position: relative;
  width: 100%;
  height: 260px;
  /* height: 230px;  */
  /* object-fit:fill; */
}
.btn-like {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: none;
  position: absolute;
  margin-left: 80%;
  margin-top: -7%;
  color: red;
  border: 1px solid pink;
}

.btn-like:hover {
  cursor: pointer;
}
.heading {
  padding-left: 5px;
}
.description {
  padding: 0px 5px;
  font-size: 22px;
}
