.loginmain {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  border: 1px solid black;
  background-color: rgb(243, 195, 133);
  margin-left: 100px;
  border-radius: 40px;
  height: 500px;
  width: 400px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.img {
  height: 700px;
  width: 900px;
}
.img-2 {
  height: 500px;
  width: 900px;
}
.info h1 {
  font-size: 50px;
  margin-top: 40px;
}
.info h2 {
  font-size: 25px;
}
.info p {
  font-size: 23px;
}
.info input {
  font-size: 27px;
  border-radius: 5px;
  margin-bottom: 10px;

}
.Submitbtn {
  margin-left: 100px;
  background: rgb(235, 162, 68);
  height: 22%;
  width: 40%;
  border-radius: 10px;
  font-size: 22px;

}
.Submitbtn-2 {
  margin-left: 100px;
  background: rgb(235, 162, 68);
  height: 13%;
  width: 40%;
  border-radius: 10px;
  font-size: 22px;

}
.info a {
  margin-left: 200px;
}
