.body {
  transition: 0.4s ease-in-out;
  margin: 1rem 0rem;

}
.body:hover {
  transition: 0.2s ease-in-out;
  scale: 1.05;
}

.image {
  border-radius: 15px;
  height: 18rem;
  width: 16rem;
}
.price p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px; 
  letter-spacing: 0em;
  text-align: left;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
.price {
  gap: 1rem;
}
.price h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 221, 221);
  border-radius: 20px;
  padding: 0px 0.8  rem;
  color: rgb(245, 49, 49);
}
