
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.logo img {
  max-width: 100px; /* Adjust the max-width of your logo */
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
}

.user-actions a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .search-bar {
    margin: 10px 0;
  }
}
