.categoryBody {
  width: 95%;
  display: flex;
  /* justify-content: center;  */
  /* align-items: center; */
  margin: auto;
  gap: 2rem;
}
.filterMain {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 2rem;
}
.filterMain2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 2rem;
  height: 95px;
}
.filterMain hr {
  margin: 1rem 0rem;
}
.filter-Div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 245px;
}
.IoIosArrowUp {
  /* padding: 1rem; */
  height: 17px;
  width: 17 px;
}
.IoIosArrowUp:hover {
  cursor: pointer;
  /* border: 1px solid black; */
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.filter-Div1 h1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.filter-icon {
  color: rgba(0, 0, 0, 0.4);
  width: 20.25px;
  height: 18.75px;
  transition: 0.3s;
}
.filter-icon:hover {
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.filter-Div2-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}
.filter-Div2-inner h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  color: rgba(0, 0, 0, 0.6);
}

.Slider {
  margin: 1rem 0rem;
  color: black;
}

.Color-div {
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
}
.Color-div div {
  width: 37px;
  height: 37px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.size-div {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem 0rem;
  gap: 0.5rem;
}

.Size {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  border-radius: 62px;
  background: rgba(240, 240, 240, 1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
.category-main {
  /* width: 50rem; */
  gap: 2rem;
}
.category-main-div1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.category-main-div1 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}
.category-card-div {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.sortFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}
