.Nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(235, 162, 68);
}

.Pages {
  list-style: none;
  margin-left: 200px;
}

.Pages ul {
  display: flex;
}

.Pages li {
  color: black;
  display: flex;
  font-size: 20px;
  margin: 0px 15px;
}
.Button {
  display: flex;
  margin-right: 50px;
  gap: 2rem;
}
.Navbtn {
  margin: 0px 20px;
  height: 40px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
}
.Navcart {
  margin: 0px 20px;
  height: 35px;
  width: 100%;
  color: black; 
}
