@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
header{
    position: fixed;
}
nav{
    width: ;
    height: 30px;
    
}
div{
    height: 100vh;
    border: solid 1px black;
}