@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
}
.navbar{
    background-color: rgb(247, 164, 215); 
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: right;
    list-style: none;
    margin:15px 10px;
    
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
}
div{
    height: 100vh;
    border-bottom: 2px solid black;
}
.img1{
    height: 100vh;
    /* width: 50%; */
    /* overflow: auto; */
}
.about{
    margin-left:50% ;
}