.All-Card {
  /* margin: auto ; */
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 600px);
  place-items: center;
  place-content: center;
  /* margin-top: ; */
}
