.body {
  transition: 0.4s ease-in-out;
  margin: 1rem 0rem;
}
.body:hover {
  transition: 0.4s ease-in-out;
  scale: 1.1;
}

.image {
  border-radius: 15px;
  height: 20rem;
  width: 19rem;
}
.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 221, 221);
  border-radius: 20px;
  padding: 5px;
  color: rgb(245, 49, 49);
}
