.Cartheading {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  margin-left: 4%;
  margin-bottom: 1rem;
}
.Cart-Main {
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 1rem;
}
.Cart-Main-product {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.Cart-Main-product hr {
  width: 95%;
  margin: auto;
}

.Cart-Main-details {
  width: 40%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem;
}

.Cart-Main-details h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}
.order-summery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}
.order-summery p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
.order-summery h3 {
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(0, 0, 0, 1);
}

.order-summery h4 {
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: right;
  color: rgba(255, 51, 51, 1);
}
.order-summery input {
  width: 326px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 62px;
  gap: 12px;
  background: rgba(240, 240, 240, 1);
  padding-left: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
.order-summery button {
  width: 119px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 62px;
  gap: 12px;
  background: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
}
.tag {
  position: absolute;
  top: 38%;
  left: 3%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
.Check-btn {
  width: 457px;
  height: 53px;
  padding: 16px 54px 16px 54px;
  border-radius: 62px;
  gap: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
}
.cart-product {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  position: relative;
}
.cart-product img {
  height: 9rem;
  border-radius: 10px;
}
.productr-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.delete {
  width: 50px;
  color: red;
  position: absolute;
  left: 44rem;
}
.delete:hover {
  cursor: pointer;
}
.productr-title h2 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  /* padding-right: 17rem; */
}
.product-btn-div-inner {
  display: flex;
  width: 160px;
  height: 45px;
  padding: 16px 20px 16px 20px;
  border-radius: 62px;
  justify-content: space-between;
  align-items: center;
  background: rgba(240, 240, 240, 1);
  font-size: 1.5rem;
  position: absolute;
  left: 75%;
  bottom: 12%;
}
.product-btn-div-inner button {
  font-size: 2rem;
}
.Size-text p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.price-text p {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
