@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300&family=Roboto:ital,wght@1,100&display=swap");

* {
  font-family: "Archivo Black", sans-serif;
}
/* .home-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
div1 {
  position: relative;
  width: 100%;
}
.main-img {
  position: relative;
  margin-bottom: -7px;
  height: 90vh;
}
.main-img-inner {
  height: 90vh;
}
.main-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Vector-img {
  position: absolute;
}
.A {
  width: 5rem;
  top: 10%;
  left: 90%;
}
.B {
  width: 4rem;
  top: 43%;
  left: 52%;
}
.absolute-div {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 100%;
  width: 45%;
}

.heading {
  font-size: 4rem;
  font-weight: 800;
  line-height: 62px;
}
.Sub-heading {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  margin: 30px 0px;
}
.Shop-btn {
  width: 10rem;
  height: 3.5rem;
  border-radius: 62px;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 22px;
  margin: 0rem 0rem 3rem 0rem;
  transition: 0.3s;
}

.numbers {
  display: flex;
  gap: 2rem;
}

.numbers h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.numbers p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  line-height: 30px;
}
.div2 {
  background-color: black;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btw-card {
  width: 80%;
  margin: auto;
}
.div4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(228, 225, 225);
  border: 1px solid black;
  width: 87%;
  margin: auto;
  border-radius: 50px;
}
.div4 p {
  /* font-family: Integral CF; */
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  margin: 3%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
  /* padding: 0rem 2rem; */
}

.container div img {
  /* border: 1px solid black; */
  border-radius: 30px;
}
.img {
  position: relative;
  transition: 0.2s;
}
.img:hover {
  /* position: relative; */
  scale: 1.01;
  transition: 0.2s;
}
.img h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}
/* .a {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.b {
  grid-column: 2 / span 3;
  grid-row: 1;
} */
.c {
  grid-column: 3 / span 2;
  grid-row: 2;
}
.c img {
  width: 30rem;
  height: 19rem;
}
.d {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.customers-heading {
  /* width: 100%; */
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  text-align: left;
  padding: 3rem 5rem;
}

.div5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(228, 225, 225);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.loader-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* HTML: <div class="loader"></div> */
.loader {
  --s: 20px;

  --_d: calc(0.353 * var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  clip-path: polygon(
    var(--_d) 0,
    100% 0,
    100% calc(100% - var(--_d)),
    calc(100% - var(--_d)) 100%,
    0 100%,
    0 var(--_d)
  );
  background: conic-gradient(
    from -90deg at calc(100% - var(--_d)) var(--_d),
    #fff 135deg,
    #666 0 270deg,
    #aaa 0
  );
  animation: l6 2s infinite;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l6 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 0);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
